<%- include("partials/header") %>
<style>
    #deceasedInfo {
        display: flex;
        align-items: center;
    }

    #deceasedInfo .col-lg-6 {
        flex: 1;
    }

    #organsToDonateDeath {
        display: none; /* Initially hide the section for organs to donate after death */
    }

    #organsToDonateLive {
        display: none; /* Initially hide the section for organs to donate live */
    }
</style>


    <body>
        <div class="container">
            <header class="d-flex flex-wrap  py-3 mb-4 border-bottom">
                <h1 class="display-5 fw-bold">ThriveLife</h1>
            </header>
            <h2>Donor Profile</h2>
            <h6>To be filled by the hospital only</h6><br><br>
            <form action="/edit_donor" method="post">
                <h4>Personal Details</h4>

                <div class="row g-2">
                    <div class="col-lg-6">
                        <label for="name" class="form-label">Is the donor deceased?</label>
                        <% if(donor1.deceased=='Yes') {%>
                            <input type="radio" id="deceasedYes" name="deceased" value="Yes" checked> Yes
                            <input type="radio"  id="deceasedNo" name="deceased" value="No"> No

                       <% } else { %>
                        <input type="radio" id="deceasedYes" name="deceased" value="Yes"> Yes
                        <input type="radio"  id="deceasedNo" name="deceased" value="No" checked> No
                       <%}%>
                    </div>
                    
                    </div>

                <div class="row g-2">
                <div class="col-lg-6">
                    <label for="name" class="form-label">Full name (as mentioned in the government records)</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%=donor1.name %>">
                </div>
                <div class="col-lg-6">
                    <label for="dob" class="form-label">Age (If deceased, age at death)</label>
                    <input type="number" class="form-control" id="age" name="age" value="<%=donor1.age %>">
                </div>
                <script>
                     document.addEventListener("DOMContentLoaded", function () {
    // Format the desired date and time as a string in the "YYYY-MM-DDTHH:MM" format.
    const desiredDateTime = "<%= donor1.dod%>";
    
    // Get the input element
    const inputElement = document.getElementById("dod");

    // Set the value of the input to the desired date and time
    inputElement.value = desiredDateTime;
  });

                </script>
                




                    <div class="row g-2">
                        <div class="col-lg-6">
                            <label for="createpwd" class="form-label">Donor No.</label>
                        <input type="number" class="form-control" id="donorno" name="donorno" value="<%=donor1.donorno %>">
                        </div>
                        <div class="col-lg-6">
                            <label for="pincode" class="form-label">PinCode</label>
                            <input type="text" class="form-control" id="pincode" name="pincode" value="<%=donor1.pincode %>">
                        </div>
                        </div>
                        <br>
                        <div class="row g-2">
                            
                            
                            
                            </div>
                            <br>

                            <div class="row g-2" id="deceasedInfo">
                                <div class="col-lg-6">
                                    <label for="dod" class="form-label">Date and time of death</label>
                                    <input type="datetime-local" class="form-control" value="<%=donor1.dod %>" id="dod" name="dod">
                                </div><br>
                                <div class="col-lg-6">
                                    <label for="cause" class="form-label">Cause of death</label>
                                    <input type="text" class="form-control" id="cause" value="<%=donor1.cause %>" name="cause">
                                </div>
                                </div>
                                <br>                           
                    
       <h4>Medical Details</h4>
       <div class="row g-2">
        <div class="col-lg-6">
            <label for="hospital" class="form-label">Name of Hospital</label>



            <input class="form-control" id="hospital" name="hospital" list="hospital-list" value="<%=donor1.hospital %>"/>
            <datalist name="hospital-list" id="hospital-list">
                <option value=""></option>
                
            </datalist>

        </div>
        <div class="col-lg-6">
            <label for="hospaddr" class="form-label">Address of Hospital</label>
            <input type="text" class="form-control" id="hospaddr" name="hospaddr" value="<%=donor1.hospaddr %>">
        </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-lg-6">
                <label for="hospphno" class="form-label">Phone No. of Hospital</label>
            <input type="number" class="form-control" id="hospphno" name="hospphno" value="<%=donor1.hospphno %>">

            </div>
            <div class="col-lg-6">
                <label for="state" class="form-label">Blood Group</label>
                <input class="form-control" id="bloodgrp" list="bloodgrp-list" value="<%=donor1.bloodgrp %>" name="bloodgrp">
                <datalist name="bloodgrp-list" id="bloodgrp-list">
                    <option value="A+ve">A+ve</option>
                    <option value="A-ve">A-ve</option>
                    <option value="B+ve">B+ve</option>
                    <option value="B-ve">B-ve</option>
                    <option value="AB+ve">AB+ve</option>
                    <option value="AB-ve">AB-ve</option>
                    <option value="O+ve">O+ve</option>
                    <option value="O-ve">O-ve</option></datalist>
            </div>
            </div>
            <br>
            <h4>Medical History details</h4>

                <div class="row g-2">
                
                    <div class="col-lg-6">
                        <label for="history" class="form-label">Father's History</label>
                    <textarea rows="2" type="text" class="form-control" id="history_father" name="history_father"><%=donor1.history_father %></textarea><br>
                    <label for="history" class="form-label">Mother's History</label>
                    <textarea rows="2" type="text" class="form-control" id="history_mother" name="history_mother"><%=donor1.history_mother %></textarea><br>
                    <label for="history" class="form-label">Siblings' History</label>
                    <textarea rows="2" type="text" class="form-control" id="history_sibling" name="history_sibling"><%=donor1.history_sibling %></textarea><br>
            
                    </div>
                    
                    </div>
                <br>
                <h4>Donation Details</h4>

                <div class="row g-2">
                    <div class="col-lg-6">
                        <label for="tissuetype" class="form-label">Tissue type</label>
                        <input type="text" class="form-control" id="tissuetype" name="tissuetype" value="<%=donor1.tissuetype %>">
            
                    </div>
                    <div class="col-lg-6">
                        <label for="diseases" class="form-label">Communicable diseases, if any</label>
                        <input type="text" class="form-control" id="diseases" name="diseases" value="<%=donor1.diseases %>">
            
                    </div>
                    
                    
                    </div>
                    <br>

                    <div class="row g-2">
                        <div class="col-lg-6">
                            <label for="heirname" class="form-label">Name of legal heir</label>
                            <input type="text" class="form-control" id="heirname" name="heirname" value="<%=donor1.heirname %>">
                
                        </div>
                        <div class="col-lg-6">
                            <label for="heirphno" class="form-label">Contact number of legal heir</label>
                            <input type="number" class="form-control" id="heirphno" name="heirphno" value="<%=donor1.heirphno %>">
                
                        </div>
                        
                        
                        </div>
                        <br>

                        

                <div class="row g-2" id="organsToDonateDeath">
                    <div class="col-lg-6">

                        <label class="form-label">What is the concerned organ to donate (after death)?</label><br>
                        <% let donatedeath=['Heart','Liver','Lungs','Kidneys']; %>
                            <% donatedeath.forEach(function(d){ %>

                                <% if (donor1.donatedeath.includes(d)){%>
                                <input class="form-check-input" type="checkbox" value="<%=d %>" name="donatedeath" checked>
                                <label class="form-check-label"><%= d[0].toUpperCase()+d.slice(1) %></label><br>
                                <% } else { %>
                                    <input class="form-check-input" type="checkbox" value="<%=d %>" name="donatedeath">
                                <label class="form-check-label"><%=d[0].toUpperCase()+d.slice(1) %></label><br>
                                <%}%>
                            <% }) %> 
                    
                    
                    </div>
                     </div>
                    <br>

                    <div class="row g-2" id="organsToDonateLive">
                        <div class="col-lg-6">
    
                            <label class="form-label">What is the concerned organ to donate (live)?</label><br>
                            <% let donate=['Kidney','Lung']; %>
                            <% donate.forEach(function(d){ %>
    
                                    <% if (donor1.donate.includes(d)){%>
                                    <input class="form-check-input" type="checkbox" value="<%=d %>" name="donate" checked>
                                    <label class="form-check-label"><%= d[0].toUpperCase()+d.slice(1) %></label><br>
                                    <% } else { %>
                                        <input class="form-check-input" type="checkbox" value="<%=d %>" name="donate">
                                    <label class="form-check-label"><%=d[0].toUpperCase()+d.slice(1) %></label><br>
                                    <%}%>
                                <% }) %> 
                       
                        
                        </div>
                         </div>
                        <br>
    

                        <script>
                            function setInitialVisibility() {
                                const noRadio = document.getElementById("deceasedNo");
                                const deceasedInfo = document.getElementById("deceasedInfo");
                                const organsToDonateDeath = document.getElementById("organsToDonateDeath");
                                const organsToDonateLive = document.getElementById("organsToDonateLive");
                    
                                if (noRadio.checked) {
                                    deceasedInfo.style.display = "none"; // Hide the container for deceased info
                                    organsToDonateDeath.style.display = "none"; // Hide the section for organs to donate after death
                                    organsToDonateLive.style.display = "block"; // Show the section for organs to donate live
                                } else {
                                    deceasedInfo.style.display = "block"; // Show the container for deceased info
                                    organsToDonateDeath.style.display = "block"; // Show the section for organs to donate after death
                                    organsToDonateLive.style.display = "none"; // Hide the section for organs to donate live
                                }
                            }
                    
                             deceasedRadio = document.querySelectorAll('input[name="deceased"]');
                             deceasedInfo = document.getElementById("deceasedInfo");
                            const organsToDonateDeath = document.getElementById("organsToDonateDeath");
                            const organsToDonateLive = document.getElementById("organsToDonateLive");
                    
                            // Add change event listeners to handle the visibility
                            deceasedRadio.forEach((radio) => {
                                radio.addEventListener("change", function () {
                                    if (this.value === "Yes") {
                                        deceasedInfo.style.display = "block"; // Show the container for deceased info
                                        organsToDonateDeath.style.display = "block"; // Show the section for organs to donate after death
                                        organsToDonateLive.style.display = "none"; // Hide the section for organs to donate live
                                    } else {
                                        deceasedInfo.style.display = "none"; // Hide the container for deceased info
                                        organsToDonateDeath.style.display = "none"; // Hide the section for organs to donate after death
                                        organsToDonateLive.style.display = "block"; // Show the section for organs to donate live
                                    }
                                });
                            });
                    
                            // Set the initial visibility when the page loads
                            window.onload = setInitialVisibility;
                        </script>        






                    <div class="row g-2">
                        <div class="col-lg-6">
                            <label for="details" class="form-label">Details of organs harvested</label>
                            <textarea rows="3" class="form-control" id="details" name="details"><%=donor1.details %></textarea>
                
                        </div>
                        <div class="col-lg-6">
                            <label for="storage" class="form-label">Storage details</label>
                            <textarea rows="3" class="form-control" id="storage" name="storage"><%=donor1.storage %></textarea>
                
                        </div>
                        
                        
                        </div>
                        <br>

                        <h4>Miscellaneous Details</h4>

                        <div class="row g-2">
                            <div class="col-lg-6">
                                <label for="wttime" class="form-label">Waiting Time</label>
                                <input type="text" class="form-control" id="wttime" value="<%=donor1.wttime %>" name="wttime">
                    
                            </div>
                            <div class="col-lg-6">
                                <label for="cpra" class="form-label">CPRA score</label>
                                <input type="number" class="form-control" id="cpra" value="<%=donor1.cpra %>" name="cpra">
                            <div id="createpwdtext" class="form-text">The CPRA score measures the donor-recipient compatibility.</div>

                            </div>
                            
                            
                            </div>
                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label for="priordonor" class="form-label">Prior Living Donor</label>
                                    <input type="text" class="form-control" id="priordonor" value="<%=donor1.priordonor %>" name="priordonor">
                        
                                </div>
                                <div class="col-lg-6">
                                    <label for="dist" class="form-label">Distance from donor hospital</label>
                                    <input type="number" class="form-control" id="dist" value="<%=donor1.dist %>" name="dist">
    
                                </div>
                                
                                
                                </div>
                            <br>

                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label for="paedstatus" class="form-label">Paediatric Status</label>
                                    <input type="text" class="form-control" id="paedstatus" value="<%=donor1.paedstatus %>" name="paedstatus">
                        
                                </div>
                                <div class="col-lg-6">
                                    <label for="benefit" class="form-label">Survival benefit</label>
                                    <input type="text" class="form-control" id="benefit" value="<%=donor1.benefit %>" name="benefit">
    
                                </div>
                                
                                
                                </div>
                            <br>

                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label for="urgency" class="form-label">Medical Urgency</label>
                                    <input type="text" class="form-control" id="urgency" value="<%=donor1.urgency %>" name="urgency">
                        
                                </div>
                                <div class="col-lg-6">
                                    <label for="htmatch" class="form-label">Height match</label>
                                    <input type="text" class="form-control" id="htmatch" value="<%=donor1.htmatch %>" name="htmatch">
    
                                </div>
                                
                                
                                </div>
                            <br>

                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label for="traveff" class="form-label">Travel Efficiency</label>
                                    <input type="text" class="form-control" id="traveff" value="<%=donor1.traveff %>" name="traveff">
                        
                                </div>
                                <div class="col-lg-6">
                                    <label for="survival" class="form-label">Likelihood for survival within 5 hours post transplant</label>
                                    <input type="text" class="form-control" id="survival" value="<%=donor1.survival %>" name="survival">
    
                                </div>
                                
                                
                                </div>
                            <br>

                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label for="renal_function" class="form-label">Renal function</label>
                                    <input type="number" class="form-control" id="renal_function" value="<%=donor1.renal_function %>" name="renal_function">
                        
                                </div>
                                <div class="col-lg-6">
                                    <label for="organ_size" class="form-label">Organ size</label>
                                    <input type="number" class="form-control" id="organ_size" value="<%=donor1.organ_size %>" name="organ_size">
    
                                </div>
                                
                                
                                </div>
                            <br>

                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label for="latitude" class="form-label">Latitude</label>
                                    <input type="number" class="form-control" id="latitude" value="<%=donor1.latitude %>" name="latitude">
                        
                                </div>
                                <div class="col-lg-6">
                                    <label for="longitude" class="form-label">Longitude</label>
                                    <input type="number" class="form-control" id="longitude" value="<%=donor1.longitude %>" name="longitude">
    
                                </div>
                                
                                
                                </div>
                            <br>



                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        I declare that all the information is true and I have the deceased's family's consent
                    </label><br><br>
                    <button name="submit" type="submit" value="<%=donor1.donorno %>" class="btn btn-danger">Submit</button>

                  </div>
              
                

                </div>
                <br>

              </form>

          </div>

          <%- include("partials/footer") %>
